---
---
<div class="giscus mt-12 w-full"></div>

<script src="https://giscus.app/client.js"
        data-repo="[請更換為你的 GitHub 用戶名]/[請更換為你的 Repo 名稱]"
        data-repo-id="[請更換為你的 Repo ID]"
        data-category="Announcements"
        data-category-id="[請更換為你的 Category ID]"
        data-mapping="pathname"
        data-strict="0"
        data-reactions-enabled="1"
        data-emit-metadata="0"
        data-input-position="bottom"
        data-theme="preferred_color_scheme"
        data-lang="zh-TW"
        crossorigin="anonymous"
        async>
</script>
